@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;400&family=Roboto:wght@100;300;400;500;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
}
a {
  color: #a00000;
  text-decoration: none;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    gap: 10px;
    background: url(../assets/background.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background: rgba(60, 59, 59, 0.6);
    box-shadow: 0 8px 32px 0 rgba(135, 31, 31, 0.369);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.212);
    padding: 12px;
    width: 50%;
}

.card-title {
    font-size: 12px;
    font-weight: thin;
    margin-bottom: 16px;
    font-family: monospace;
    opacity: 0.5;
}

/* / Profile \ */

.user-profile {
    display: flex;
    gap: 1em;
}
.Profile-pic {
    position: relative;
}
#pfp {
    width: 128px;
    height: 128px;
    border-radius: 10%;
}
#status-dot {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
    border: 2px solid rgba(60, 59, 59, 0.3);
}

#username {
    font-size: 28px;
    font-weight: bold;
}
#status2,
#status {
    opacity: 0.5;
    transition: all 0.6s ease;
}

/* \ Profile / */

/* / Activity \ */

.activity-wrapper {
    display: flex;
    gap: 8px;
    width: 100%;
}

.activity-info {
    width: 100%;
}

.activity-images {
    position: relative;
}

#activity-big-image {
    width: 128px;
    height: 128px;
    border-radius: 10%;
}

#activity-small-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
   bottom: -20%;
    right: 0px;
    transform: translate(50%, -50%);
    border: 2px solid rgba(60, 59, 59, 0.3);
}

#activity-name {
    font-size: 25px;
    font-weight: bold;
}

#activity-state {
    font-size: 20px;
     opacity: 0.7;
}

#activity-detail {
    opacity: 0.5;
}

/* \ Activity / */

.heading {
    font-size: 45px;
    font-weight: bold;
}

@media (max-width: 820px) {
    .card {
        width: 98%;
    }
    .heading {
        font-size: 30px;
    }

}
ul,
li {
    padding: 0%;
    margin: 0;
    list-style: none;
}
.connections {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 5px;

}
.connection-icon {
    height: 28px;
    width: auto;
}
