.cards-container {
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 8px 32px 0 rgba(23, 7, 30, 0.369);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(69, 69, 69, 0.2);
  padding: 1em;
  width: 50%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cards-title {
  font-size: 12px;
  font-weight: thin;
  margin-bottom: 16px;
  font-family: monospace;
  opacity: 0.5;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.clickable-path {
  cursor: pointer;
}

.cards-controls {
  font-size: 10px;
  align-self: flex-start;
}
