.background-audio {
  bottom: 5px;
  right: 5px;
  position: absolute;
  color: rgba(0, 0, 0, 0);
}

.background-audio button {
  color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.pause-play {
  height: 20px;
  width: 20px;
}
