.heading {
  font-size: 45px;
  font-weight: bold;
}

.bio li {
  text-align: left;
  padding-left: 1em;
}

/* media queries */
@media (max-width: 768px) {
  .heading {
    font-size: 35px;
    text-align: center;
  }

  .bio {
    font-size: 14px;
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
  }

  .bio li {
    text-align: left;
    padding-left: 1em;
  }
}
/* media queries */
