.timebar-container {
  width: 100%;
  margin-top: 5px;
}

.timebar-main {
  background-color: #d7bcff;
  height: 5px;
  border-radius: 50px;
}
.timebar-mainBackground {
  border-radius: 50px;
  width: 100%;
  background-color: #d4000025;
}
.timebar-timestamps {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
}

.timebar-passedTime {
  flex: 1 1 auto;
}

.timebar-duration {
  flex: 0 1 auto;
}
