/* container */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    gap: 10px;
    background: url(./assets/background.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 32px 0 rgba(30, 7, 7, 0.369);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(69, 69, 69, 0.2);
    padding: 12px;
    width: 50%;
}

.card-title {
    font-size: 12px;
    font-weight: thin;
    margin-bottom: 16px;
    font-family: monospace;
    opacity: 0.5;
}

.user-profile {
    display: flex;
    gap: 1em;
}
/* container */

/* profile */
.profile-pic {
    position: relative;
}

#pfp {
    width: 128px;
    height: 128px;
    border-radius: 10%;
}

#status-dot {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
    border: 2px solid rgba(60, 59, 59, 0.3);
}

#username {
    font-size: 28px;
    font-weight: bold;
}

#status2,
#status {
    opacity: 0.5;
    transition: all 0.6s ease;
}
/* profile */

/* activity */
.activity-wrapper {
    display: flex;
    gap: 8px;
    width: 100%;
}

.activity-info {
    width: 100%;
}

.activity-images {
    position: relative;
}

#activity-big-image {
    width: 128px;
    height: 128px;
    border-radius: 10%;
}

#activity-small-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -20%;
    right: 0px;
    transform: translate(50%, -50%);
    border: 2px solid rgba(60, 59, 59, 0.3);
}

#activity-name {
    font-size: 25px;
    font-weight: bold;
}

#activity-state {
    font-size: 20px;
    opacity: 0.7;
}

#activity-detail {
    opacity: 0.5;
}
/* activity */

/* about me*/
.heading {
    font-size: 45px;
    font-weight: bold;
}

.bio li {
    text-align: left;
    padding-left: 1em;
}
/* about me*/

/* misc */
ul,
li {
    padding: 0%;
    margin: 0;
    list-style: none;
}
.connections {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-top: 5px;

}
.connection-icon {
    height: 28px;
    width: auto;
}


.hidden {
    display: none;
}
/* misc */

/* media queries */
@media (max-width: 768px) {

    /* container */
    .card {
        width: 80%;
    }
    /* container */

    /* profile */
    .user-profile {
        flex-direction: column;
        align-items: center;
    }

    #username {
        font-size: 22px;
        text-align: center;
    }

    #status2,
    #status {
        font-size: 14px;
        text-align: center;
    }

    #pfp {
        width: 100px;
        height: 100px;
    }
    /* profile */

    /* activity */
    .activity-wrapper {
        flex-direction: column;
        align-items: center;
    }

    #activity-big-image {
        width: 100px;
        height: 100px;
    }

    #activity-small-image {
        width: 30px;
        height: 30px;
    }

    #activity-name {
        font-size: 20px;
        text-align: center;
    }

    #activity-state {
        font-size: 16px;
        text-align: center;
    }

    #activity-detail {
        text-align: center;
        /* Center the text */
    }
    /* activity */

    /* about me*/
    .heading {
        font-size: 35px;
        text-align: center;
    }

    .bio {
        font-size: 14px;
        text-align: center;
        list-style-position: inside;
        padding-left: 0;
    }

    .bio li {
        text-align: left;
        padding-left: 1em;
    }
    /* about me*/

}
/* media queries */